<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headTagSB"/>

<body id="page-top">
<div id="wrapper">

    <div th:replace="fragments/sidebarSB"/>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="fragments/topBarSB"/>
            <div class="container-fluid">
                <h2>Thông tin Chi tiết Page</h2>
                <p><strong>ID:</strong> <span th:text="${page.id}"></span></p>
                <p><strong>Tên Page:</strong> <span th:text="${page.pageName}"></span></p>
                <p><strong>Từ khóa:</strong> <span th:text="${page.keyword}"></span></p>
                <p><strong>Nội dung:</strong></p>
                <p th:text="${page.content}"></p>
                <a th:href="@{/page/all}" class="btn btn-secondary">Quay lại</a>
            </div>
        </div>
        <div th:replace="fragments/bottomSB"/>
    </div>
</div>
</body>
</html>
