<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <style>
        .footer {
            background-color: #343a40;
            color: #ffc107;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
            z-index: 1000; /* Đảm bảo footer luôn ở dưới cùng */
        }
        .footer a {
            color: #ffc107;
            text-decoration: none;
        }
        .footer a:hover {
            color: #fff;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div th:fragment="footer_layout" class="footer">
        <p>VÕ XUÂN TRƯỜNG.</p>
    </div>
</body>
</html>